<table class="table table-sm">
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for person in persons %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-outline-success"
                            data-uri="{{ path('app_person_edit', {'id': person.id}) }}"
                            data-title="Person bearbeiten"
                            data-action="modal-form#openModal">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <a class="btn btn-outline-danger" href="{{ path('app_person_delete', {'id': person.id}) }}"><i class="bi bi-trash"></i></a>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>