{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <div
        {{ stimulus_controller('reload-content', {
            url: path('app_person_index', { ajax: 1 })
        }) }}
        data-action="modal-form:success->reload-content#refreshContent"
    >

        <div class="row justify-content-between">
            <div class="col">
                <h1>Personen</h1>
            </div>

            <div class="col" {{ stimulus_controller('modal-form') }}>
                <div style="text-align:right;">
                    <button
                            class="btn btn-success"
                            data-uri="{{ path('app_person_new') }}"
                            data-title="Person hinzufügen"
                            data-action="modal-form#openModal"
                    ><i class="bi bi-person-add"></i> Person hinzufügen</button>
                    <a class="btn btn-outline-success" href="{{ path('app_person_new') }}"><i class="bi bi-person-add"></i> Ohne Modal</a>
                </div>
                {{ include('_modal.html.twig') }}
            </div>

        </div>

        <div data-reload-content-target="ajaxReloadContent">
            {{ include('person/_list.html.twig') }}
        </div>

</div>
{% endblock %}
